<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tool Application</title>
</head>
<body>
<div>
    <textarea id="a" placeholder="input json here..." style="height:100%;padding:10px 10px 10px 30px;border:0;border-right:solid 1px #E5EBEE;border-bottom:solid 1px #eee;border-radius:0;resize: none; outline:none;"></textarea><br>
</div>
<div>
    <textarea id="b" placeholder="input json here..." style="height:100%;padding:10px 10px 10px 30px;border:0;border-right:solid 1px #E5EBEE;border-bottom:solid 1px #eee;border-radius:0;resize: none; outline:none;"></textarea>
</div>
<button type="submit" value="Submit"/>
</body>
</html>